body {
    display: flex;
    min-height: 100vh;
}

nav {
    flex-basis: 15vw;
}

div {
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    /*flex: 1 1 auto;*/
}

article {
    flex-basis: 100vw;
}

main {
    display: flex;
    flex-basis: 800px;
}

header, footer {
    flex-basis: 100px;
}

nav, header, footer {
    flex-grow: 0;
    flex-shrink: 0;
    /*flex-basis: 15vw;*/
}

div, main {
    flex: 1
}