body {
    display: flex;
    height: 100vh;
}

nav {
    flex-basis: 20%;
    height: 100%;
}

div {
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
}

article {
    flex-basis: 100vw;
}

main {
    display: flex;
    flex-basis: 800px;
}

header, footer {
    flex-basis: 100px;
}

nav, header, footer {
    flex-grow: 0;
    flex-shrink: 0;
}

div, main {
    flex: 1;
}